<section class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Poblacion</th>

      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
       @for (country of countries(); track country.code) {
        <tr>
          <td>{{country.code}}</td>
          <td><img class="w-64" [src]="country.flagSvg" alt="Bandera no disponible"></td>
          <td>{{country.name}}</td>
          <td>{{country.capital}}</td>
          <td>{{country.population | number}}</td>
        </tr>
      }
    </tbody>
  </table>
</section>
